{% unless x_data_name %}
  {% assign x_data_name = 'selectedVariant' %}
{% endunless %}
<div class="option-{{ option.name | downcase }} inline-block h-8 w-8 mr-1 mb-1">
  <input
    class="hidden"
    @change="{{ x_data_name }} = product.variants.find(v => _arrayEquals(v.options, ['{{ value }}']))"
    value="{{ value }}"
    name="{{ random_number }}{{ product.id }}-{{ optionIndex }}"
    :checked="{{ x_data_name }}.options.includes('{{ value }}')"
    id="{{ random_number }}{{ product.id }}{{ option.name | handleize }}{{ value | handleize }}"
    type="radio"
  >
  <label
    class="relative"
    style="background: var(--{{ value | handleize }});"
    for="{{ random_number }}{{ product.id }}{{ option.name | handleize }}{{ value | handleize }}"
  >
    {% for _variant in product.variants %}
      {% for _option in _variant.options %}
        {% if _option == value %}
          {% if _variant.metafields.general.new.value == true %}
            <span
              style="
                position: absolute;
                font-size: 8px;
                top: 2px;
                text-align: center;
                color: #fff;
                background: rgba(0, 0, 0, .1);
                font-weight: bold;
                width: 100%;
              "
              >NEW</span
            >
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </label>
</div>
