<div class="relative">
    <span>
        {% if section.settings.image %}
            {{ section.settings.image | image_url: width: 1440 | image_tag: width: nil }}
        {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
    </span>        
    <div class="flex flex-col gap-3 md:absolute md:top-2/4 md:transform md:-translate-y-2/4 ">
        <div class="inline-block text-white md:bg-black md:p-5">
            <p class="lg:text-6xl">{{ section.settings.title }}</p>
            <p class="lg:text-4xl">{{ section.settings.subtitle }}</p>
            <a href="{{ section.settings.btn_url }}" class="btn border-gray-300">{{ section.settings.btn_text }}</a>
        </div>
    </div>    
</div>
{% schema %}
    {
        "name": "Image Banner",
        "class": "image-banner",
        "settings": [
            {
                "type":"text",
                "id":"title",
                "label":"Title",
                "default":"Browse amazing products"
            },
            {
                "type":"text",
                "id":"subtitle",
                "label":"Subtitle",
                "default":"Some other interesting details about your store"
            },
            {
                "type":"text",
                "id":"btn_text",
                "label":"Button text",
                "default":"Browse all"
            },
            {
                "type":"url",
                "id":"btn_url",
                "label":"Button URL",
                "default": "/"
            },
            {
                "type":"image_picker",
                "id":"image",
                "label":"Choose image"
            }
        ],
        "presets":[
            {
                "name":"Image Banner"
            }
        ]
    }
{% endschema %}
