<footer class=" opacity-100 pt-16 px-5 pb-[60px] lg:px-0" style="background-color: {{ section.settings.footer_bg }}; color:{{ section.settings.footer_color }}">
    <div class="max-w-screen-2xl lg:mx-auto">
        <div>
            <div class="flex flex-col gap-5">
                {% if section.settings.logo %}
                    <div>
                        {% render 'component-image', image: section.settings.logo %}
                    </div>
                {% else %}
                    <p>{{ shop.name }}</p>
                {% endif %}
                <div>
                    {{ section.settings.text }}
                </div>
                <div>
                    {{ section.settings.info }}
                </div>
            </div>
            <div>
            </div>
        </div>
        
            <nav class="mobile-navigation flex flex-col gap-2 mt-9">
                    <ul class="mobile-navigation__list">
                        {% for link in section.settings.menu.links %}
                            {% if link.links != blank %}
                                <li x-data="{ open_dropdown: false }"
                                    @click="open_dropdown = !open_dropdown"
                                    class="relative mobile-navigation__list-item mobile-navigation__list--has-dd">
                                    <a class="flex items-center justify-between">
                                        <span>{{ link.title }}</span>
                                        <span :class="{ 'rotate-180' : open_dropdown }"> {% render 'icon-chevron-down', class: 'w-4 h-4' %}</span>
                                    </a>
                                    <ul class="navigation-mobile__dropdown mt-3" x-cloak x-transition x-show="open_dropdown">
                                        {% for childlink in link.links %}
                                            <li class="navigation-mobile__dropdown__list-item">{{ childlink.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>    
                                {% else %}
                                <li class="relative mobile-navigation__list-item">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </li>   
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
        
    </div>
</footer>

{% schema %}
    {
        "name": "Footer",
        "settings": [
            {
                "type":"image_picker",
                "id":"logo",
                "label":"Logo"
            },
            {
                "type":"text",
                "id":"text",
                "label":"Text"
            },
            {
                "type":"richtext",
                "id":"info",
                "label":"Business info here"
            },
            {
                "type":"link_list",
                "id":"menu",
                "label":"Mobile menu"
            },
            {
                "type":"link_list",
                "id":"desktop_menu",
                "label":"Desktop menu"
            },
            {
                "type":"color",
                "id":"footer_color",
                "label":"Footer text color",
                "default":"#ffffff"
            },
            {
                "type":"color",
                "id":"footer_bg",
                "label":"Footer background color",
                "default":"#000000"
            }
        ]
    }
{% endschema %}
