<header class="bg-white xl:py-5">
    <div x-data="{ openHamburger: false }" class="relative flex justify-between max-w-screen-2xl lg:mx-auto">
        <div class="mobile-menu lg:hidden">
            <span @click="openHamburger = true ">
                {% render 'icon-hamburger' %}
            </span>
            <div x-transition x-cloak x-show="openHamburger"
                class="absolute top-0 w-full z-10 bg-white px-6 py-5">
                <button @click="openHamburger = false " class="block w-fit bg-[#f2f3f3] rounded-none p-2 m-0 mb-6"> {% render 'icon-close' %} </button>
                <nav class="mobile-navigation flex flex-col gap-2">
                    <ul class="mobile-navigation__list">
                        {% for link in section.settings.menu.links %}
                            {% if link.links != blank %}
                                <li x-data="{ open_dropdown: false }"
                                    @click="open_dropdown = !open_dropdown"
                                    class="relative mobile-navigation__list-item mobile-navigation__list--has-dd">
                                    <a class="flex items-center justify-between">
                                        <span>{{ link.title }}</span>
                                        <span :class="{ 'rotate-180' : open_dropdown }"> {% render 'icon-chevron-down', class: 'w-4 h-4' %}</span>
                                    </a>
                                    <ul class="navigation-mobile__dropdown" x-transition x-show="open_dropdown">
                                        {% for childlink in link.links %}
                                            <li class="navigation-mobile__dropdown__list-item">{{ childlink.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>    
                                {% else %}
                                <li class="relative mobile-navigation__list">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </li>   
                            {% endif %}
                        {% endfor %}
                        <li class="mobile-navigation__list-item">my account</li>
                        <div class="flex justify-between gap-5 mt-5">
                            <a href="/account/register" class="btn bg-black text-white">join</a>
                    
                            <a href="/account" class="btn border border-black">sign in</a>
                          </div>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="desktop-menu hidden lg:!flex">
            <nav class="flex flex-col gap-2">
                <ul class="flex gap-7">
                    {% for link in section.settings.desktop_menu.links %}
                        {% if link.links != blank %}
                            <li x-data="{ megamenu: false }" @mouseleave="megamenu = false" @mouseover="megamenu = true"
                                class="relative group">
                                <a href="{{ link.url }}" class="flex items-center justify-between">
                                    <span>{{ link.title }}</span>
                                </a>

                                <div x-cloak 
                                    class="absolute left-0 invisible group-hover:visible"
                                >
                                    <span class="h-5 inline-block"> </span>
                                    <ul class="">
                                        {% for childlink in link.links %}
                                            <li class="">
                                                <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>    
                            {% else %}
                            <li class="relative">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>   
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div>
            {{ shop.name }}
        </div>
        <div class="flex items-center gap-1">
            <span> {% render 'icon-shopping-bag', class: 'h4 w-4' %} </span>
            <span>({{ cart.item_count }})</span>
        </div>
    </div>
</header>
{% schema %}
    {
        "name": "header",
        "class": "header",
        "settings": [
            {
                "type":"link_list",
                "id":"menu",
                "label":"Mobile menu"
            },
            {
                "type":"link_list",
                "id":"desktop_menu",
                "label":"Desktop menu"
            }
            
        ],
        "presets":[
            {
                "name":"Header"
            }
        ]
    }
{% endschema %}
