<header class="relative bg-white xl:py-5">
    <div x-data="{ openHamburger: false }" class="w-full flex items-center justify-between max-w-screen-2xl lg:mx-auto">
        <div class="mobile-menu lg:hidden">
            <span @click="openHamburger = true ">
                {% render 'icon-hamburger' %}
            </span>
            <div x-transition x-cloak x-show="openHamburger"
                class="absolute top-0 w-full z-10 bg-white px-6 py-5">
                <button @click="openHamburger = false " class="block w-fit bg-[#f2f3f3] rounded-none p-2 m-0 mb-6"> {% render 'icon-close' %} </button>
                <nav class="mobile-navigation flex flex-col gap-2">
                    <ul class="mobile-navigation__list">
                        {% for link in section.settings.menu.links %}
                            {% if link.links != blank %}
                                <li x-data="{ open_dropdown: false }"
                                    @click="open_dropdown = !open_dropdown"
                                    class="relative mobile-navigation__list-item mobile-navigation__list--has-dd">
                                    <a class="flex items-center justify-between">
                                        <span>{{ link.title }}</span>
                                        <span :class="{ 'rotate-180' : open_dropdown }"> {% render 'icon-chevron-down', class: 'w-4 h-4' %}</span>
                                    </a>
                                    <ul class="navigation-mobile__dropdown" x-cloak x-transition x-show="open_dropdown">
                                        {% for childlink in link.links %}
                                            <li class="navigation-mobile__dropdown__list-item">{{ childlink.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>    
                                {% else %}
                                <li class="relative mobile-navigation__list">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </li>   
                            {% endif %}
                        {% endfor %}
                        <li class="mobile-navigation__list-item">my account</li>
                        <div class="flex justify-between gap-5 mt-5">
                            <a href="/account/register" class="btn bg-black text-white">join</a>
                    
                            <a href="/account" class="btn border border-black">sign in</a>
                          </div>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="desktop-menu hidden lg:!flex lg:order-2">
            <nav class="flex flex-col gap-2">
                <ul class="flex gap-7">
                    {% for link in section.settings.desktop_menu.links %}
                        {% if link.links != blank %}
                             {%-liquid
                                assign linkTitle = link.title | downcase
                                assign blockItem = section.blocks | map: 'settings' | where: 'megamenu_title', linkTitle
                             -%}
                            <li x-data="{ megamenu: false }" @mouseleave="megamenu = false" @mouseover="megamenu = true"
                                class="group">
                                <a href="{{ link.url }}" class="flex items-center justify-between">
                                    {{ link.title }}
                                </a>

                                <div x-cloak class="megamenu absolute left-0 right-0 invisible group-hover:visible bg-white">
                                    <span class="h-5 inline-block"> </span>
                                    <ul class="py-8 flex gap-28 max-w-screen-2xl mx-auto">
                                        <li class="w-[10%]">
                                            <ul>
                                                {% for childlink in link.links %}
                                                    <li>
                                                        <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="megamenu--collections flex gap-10 justify-between">
                                                {%- if blockItem.size > 0 -%}
                                                    {% for block in blockItem %}
                                                        <div class="relative">
                                                            {% if block.megamenu_collection %}
                                                                <a href="{{ block.megamenu_collection.url }}" class="absolute top-0 left-0 right-0 botto"></a>
                                                            {% endif %}
                                                            {% if block.megamenu_img %}
                                                                <div>
                                                                    {% render 'component-image', image: block.megamenu_img %}
                                                                </div>
                                                                {% else %}
                                                                <div>
                                                                    {% render 'component-image', image: block.megamenu_collection.featured_image %}
                                                                </div>
                                                            {% endif %}
                                                            <p>{{ block.megamenu_collection.title }}</p>
                                                        </div>
                                                        {% endfor %}
                                                    {%- endif -%}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>    
                            {% else %}
                            <li class="relative">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>   
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="lg:order-1">
            <a href="/">{{ shop.name }}</a>
        </div>
        <div class="flex relative items-center gap-5 lg:order-3">
            <a href="/account">
             {% render 'icon-account', class: 'w-4 h-4' %}
            </a>
            <a href="/cart" class="flex items-center">
                <span> {% render 'icon-shopping-bag', class: 'h4 w-4' %} </span>
                <span>({{ cart.item_count }})</span>
            </a>
        </div>
    </div>
</header>
{% schema %}
    {
        "name": "header",
        "class": "header",
        "settings": [
            {
                "type":"link_list",
                "id":"menu",
                "label":"Mobile menu"
            },
            {
                "type":"link_list",
                "id":"desktop_menu",
                "label":"Desktop menu"
            }
            
        ],
        "blocks":[
            {
                "type":"megamenu",
                "name":"Megamenu",
                "settings":[
                    {
                        "type":"text",
                        "id":"megamenu_title",
                        "label":"Menu title",
                        "info":"Menu title for which the details below should appear."
                    },
                    {
                        "type":"collection",
                        "id":"megamenu_collection",
                        "label":"Select collection"
                    },
                    {
                        "type":"image_picker",
                        "id":"megamenu_img",
                        "label":"Select image",
                        "info":"Leave empty if collection's featured image will be used."
                    }
                ]
            }
        ],
        "presets":[
            {
                "name":"Header"
            }
        ]
    }
{% endschema %}
