<section x-data="product" class="">
  <script type="application/json" data-product-json>
    {{ product | json }}
  </script>
  <script>
    console.log({{ product | json }})
  </script>
  <div class="flex">
    <div class="hidden xl:block w-1/2">
      <div class="splide desktop-product-imgs">
        <div class="splide__track">
          <div class="splide__list">
            {% for variant in product.variants %}
              <div class="w-full splide__slide">
                {% for media in product.media %}
                  {% case media.media_type %}
                    {% when 'image' %}
                      {% render 'component-image', image: media %}
                    {% else %}
                      {{ media | media_tag }}
                  {% endcase %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mb-10 xl:w-1/2">
      {% form 'product', product %}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

        {% unless product.has_only_default_variant %}
          <select name="id" id="">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
          </select>
        {% endunless %}
        <div class="product-option">
          <label for="quantity">Quantity</label>
          <input id="quantity" name="quantity" value="1" class>
        </div>
        <button type="submit">add to cart</button>
      {% endform %}
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let splide = new Splide('.splide.mob-product-imgs', {
      perPage: 1,
    });
    splide.mount();
  });

  document.addEventListener('DOMContentLoaded', function () {
    let splide = new Splide('.splide.desktop-product-imgs', {
      perPage: 2,
      gap: '1rem',
    });
    splide.mount();
  });
</script>
